<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../../resources/css/fonts.css" />
  <link rel="stylesheet" href="../../resources/css/public-sidebar.css" />
  <link rel="stylesheet" href="../../resources/css/public_categorias.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
</head>

<body>

  <!--Header prueba-->

  <div class="menu">
    <ion-icon name="menu-outline"></ion-icon>
    <ion-icon name="close-outline"></ion-icon>
  </div>

  <div class="barra-lateral">
    <div>
      <div class="nombre-pagina">
        <img src="../../resources/svg/logo.svg" alt="" id="cloud" name="cloud-outline" />
        <span>LuxuryCat</span>
      </div>
    </div>

    <nav class="navegacion">
      <ul class="ul-fixed">
        <li>
          <a href="dashboard.html" id="sidebar-cat-dashboard">
            <ion-icon name="grid-outline"></ion-icon>
            <span>Dashboard</span>
          </a>
        </li>
      </ul>
    </nav>

    <div>
      <div class="linea"></div>

      <div class="modo-oscuro">
        <div class="info">
          <ion-icon name="moon-outline"></ion-icon>
          <span>Dark Mode</span>
        </div>
        <div class="switch">
          <div class="base">
            <div class="circulo"></div>
          </div>
        </div>
      </div>

      <div class="usuario">
        <a href="index.html">
          <img
            src="https://c4.wallpaperflare.com/wallpaper/950/884/848/anime-girls-icons-profile-hd-wallpaper-preview.jpg"
            alt="Descripción de la imagen">
        </a>
        <div class="info-usuario">
          <div class="nombre-email">
            <span class="nombre">Stann</span>
            <span class="email">stalin.dbn@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <main>

    <div class="productos_card_container">

      <div class="producto_card">
        <img src="https://i.redd.it/hn3rd1lacs231.jpg" alt="">
  
        <div class="producto_card_informacion">
          <p class="producto_card_name">
            Purina juasjuas</p>
  
          <p class="producto_card_descripcion">
            No ps purina semejante down</p>
  
          <p class="producto_card_precio">
            $9.99</p>
  
          <p class="producto_card_action">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #fff;">
              <path
                d="M21 4H2v2h2.3l3.521 9.683A2.004 2.004 0 0 0 9.7 17H18v-2H9.7l-.728-2H18c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 4z">
              </path>
              <circle cx="10.5" cy="19.5" r="1.5"></circle>
              <circle cx="16.5" cy="19.5" r="1.5"></circle>
            </svg>
          </p>
        </div>
      </div>

      <div class="producto_card">
        <img src="https://i.redd.it/hn3rd1lacs231.jpg" alt="">
  
        <div class="producto_card_informacion">
          <p class="producto_card_name">
            Purina juasjuas</p>
  
          <p class="producto_card_descripcion">
            No ps purina semejante down</p>
  
          <p class="producto_card_precio">
            $9.99</p>
  
          <p class="producto_card_action">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #fff;">
              <path
                d="M21 4H2v2h2.3l3.521 9.683A2.004 2.004 0 0 0 9.7 17H18v-2H9.7l-.728-2H18c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 4z">
              </path>
              <circle cx="10.5" cy="19.5" r="1.5"></circle>
              <circle cx="16.5" cy="19.5" r="1.5"></circle>
            </svg>
          </p>
        </div>
      </div>

      <div class="producto_card">
        <img src="https://i.redd.it/hn3rd1lacs231.jpg" alt="">
  
        <div class="producto_card_informacion">
          <p class="producto_card_name">
            Purina juasjuas</p>
  
          <p class="producto_card_descripcion">
            No ps purina semejante down</p>
  
          <p class="producto_card_precio">
            $9.99</p>
  
          <p class="producto_card_action">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #fff;">
              <path
                d="M21 4H2v2h2.3l3.521 9.683A2.004 2.004 0 0 0 9.7 17H18v-2H9.7l-.728-2H18c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 4z">
              </path>
              <circle cx="10.5" cy="19.5" r="1.5"></circle>
              <circle cx="16.5" cy="19.5" r="1.5"></circle>
            </svg>
          </p>
        </div>
      </div>

      <div class="producto_card">
        <img src="https://i.redd.it/hn3rd1lacs231.jpg" alt="">
  
        <div class="producto_card_informacion">
          <p class="producto_card_name">
            Purina juasjuas</p>
  
          <p class="producto_card_descripcion">
            No ps purina semejante down</p>
  
          <p class="producto_card_precio">
            $9.99</p>
  
          <p class="producto_card_action">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #fff;">
              <path
                d="M21 4H2v2h2.3l3.521 9.683A2.004 2.004 0 0 0 9.7 17H18v-2H9.7l-.728-2H18c.4 0 .762-.238.919-.606l3-7A.998.998 0 0 0 21 4z">
              </path>
              <circle cx="10.5" cy="19.5" r="1.5"></circle>
              <circle cx="16.5" cy="19.5" r="1.5"></circle>
            </svg>
          </p>
        </div>
      </div>

    </div>



  </main>


  <!-- Controladores -->
  <script src="../../resources/js/public-sidebar.js"></script>
  <script src="../../controllers/utils/public.js"></script>
  <script src="../../resources/js/alertas.js"></script>
  <script src="../../resources//js/public_index.js"></script>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

  <!-- Iconos -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <!-- SweetAlerts -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>